<div class="container">
    <h1>Material</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Unit price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let material of materials | async">

                <td>{{material.name}}</td>
                <td>{{material.price}}€</td>
                <td>{{material.quantity}}</td>
                <td>{{material.unitCost}}€</td>
                <td>
                    <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="edit(material.$key)"></i>
                    <i class="fa fa-times" aria-hidden="true" (click)="deleteModal(material)"></i>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-lg btn-outline-primary" (click)="create()">New</button>
</div>